.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #212529;
}

.pagination__link {
    font-weight: bold;
    color: #212529;
}

.pagination__link--active a {
    background-color: #a29f9f;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
